/*DESKTOP*/
body {
    background: rgb(174,238,217);
    background: radial-gradient(circle, rgba(174,238,217,1) 0%, rgb(101, 74, 143) 100%);
    font-family: 'Monoton', cursive;
    }
    
    header h1 {
        text-align: center;
        margin-bottom: 3%;
        letter-spacing: 3px;
        font-weight: 180;
        font-size: 3em;
        color: rgba(59, 28, 59, 0.795);
        text-shadow: 3px 6px 9px rgba(119, 85, 119, 0.726);
    }
    
    #container {
        background: #66202648;
        width: 72%;
        height: 72vh;
        margin: 0 auto;
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;
    }
    
        .torre {
            width: 30%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            cursor: pointer;
        }
    
        .torre::after {
            content: "";
            background: rgb(59, 57, 57);
            width: 5%;
            height: 100% ;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .torre:hover div:last-child {
            margin-bottom: 8px !important
            }
    
            .pilha {
                height: 12%;
                border-radius: 12px;
                border: 1px solid rgb(49, 41, 41);
            }
    
            #redDisk {
                background: rgba(250, 128, 114, 0.733);
                width: 100%;
                transition: 0.6s;
            }
    
            #greenDisk {
                background: rgba(144, 238, 144, 0.733);
                width: 80%;
                transition: 0.6s;
            }
    
            #purpleDisk {
                background: rgba(212, 167, 69, 0.733);
                width: 60%;
                transition: 0.6s;
            }
    
            #blueDisk {
                background: rgba(41, 115, 199, 0.733);
                width: 40%;
                transition: 0.6s;
            }

    .winner {
        text-align: center;
        margin-top: 120px;
    }   

    .winnerImage {
        width: 52%;
        height: 72vh;

    }

/*MOBILE*/
@media screen and (max-width: 420px){

body {
    background: rgb(174,238,217);
    background: radial-gradient(circle, rgba(174,238,217,1) 0%, rgb(101, 74, 143) 100%);
    font-family: 'Monoton', cursive;
    }
    
    header h1 {
        text-align: center;
        margin-bottom: 39%;
        letter-spacing: 3px;
        font-weight: 180;
        font-size: 2em;
        color: rgba(59, 28, 59, 0.795);
        text-shadow: 3px 6px 9px rgba(119, 85, 119, 0.726);
    }
    
    #container {
        background: #66202648;
        width: 90%;
        height: 300px;
        margin: 0 auto;
        display: flex; 
        flex-direction: row; 
        justify-content: space-around;
    }
    
        .torre {
            width: 30%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            cursor: pointer;
        }
    
        .torre::after {
            content: "";
            background: rgb(59, 57, 57);
            width: 5%;
            height: 100% ;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    
            .pilha {
                height: 12%;
                border-radius: 12px;
                border: 1px solid rgb(49, 41, 41);
            }
    
            #redDisk {
                background: rgba(250, 128, 114, 0.733);
                width: 100%;
                transition: 0.6s;
            }
    
            #greenDisk {
                background: rgba(144, 238, 144, 0.733);
                width: 80%;
                transition: 0.6s;
            }
    
            #purpleDisk {
                background: rgba(212, 167, 69, 0.733);
                width: 60%;
                transition: 0.6s;
            }
    
            #blueDisk {
                background: rgba(41, 115, 199, 0.733);
                width: 40%;
                transition: 0.6s;
            }
    .winnerImage {
        width: 100%;
        height: 100vh;
        background-image: url ("https://media.giphy.com/media/iJc5ynT1VwAUPN55e6/giphy.gif");
        z-index: 999;
        display: block;
    }
}

@media screen and (max-width: 720px){

    header h1 {
        text-align: center;
        margin-bottom: 27%;
        font-size: 2em;
    }

    #container {
        background: #66202648;
        width: 75%;
        height: 360px;
    }
}